@using NgoPhucThinhMystore.Models.ViewModel;
@using System.Linq;
@* Lấy thông tin giỏ hàng *@
@{

    var cart = Session["Cart"] as NgoPhucThinhMystore.Models.ViewModel.Cart;

    // Tạo đối tượng ViewModel dùng PersonalMenuVM và lưu trong ViewBag,
    // khởi tạo giá trị dựa trên thông tin tài khoản đăng nhập
    ViewBag.pmmodel = new NgoPhucThinhMystore.Models.ViewModel.PersonalMenuVM();
    ViewBag.pmmodel.IsLoggedIn = User.Identity.IsAuthenticated;
    ViewBag.pmmodel.Username = User.Identity.IsAuthenticated ? User.Identity.Name : string.Empty;

    // Nếu giỏ hàng không rỗng thì gán số lượng mặt hàng trong giỏ cho CartCount
    if (cart != null && cart.Items.Any())
    {
        ViewBag.pmmodel.CartCount = cart.Items.Count();
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - My_Store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <style>
        /* Basic styling for the menu */
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li {
            margin-right: 20px;
            position: relative;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #f1f1f1;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</head>
<body>
    <header class="navbar navbar-default navbar-fixed-top">
        <div class="header container" style="background-color:Lightgreen;">
            <h4 style="text-align:center; color:green;">Free ship đơn từ 40K, giảm nhiều hơn cùng <span style="font-weight:bolder; font-style:italic; ">FREESHIP</span><span style="color:blue;"> EXTRA</span></h4>
        </div>

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Html.ActionLink("Home", "Index")" class="navbar-brand"><img src="~/Images/logo.PNG" style="max-height:30px;" /></a>
            </div>

            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    @* Trang chủ *@
                    <li>
                        <div style="position:relative;">
                            <i class="fas fa-home-alt"></i>
                            @Html.ActionLink("Trang chủ", "Index", "Home")
                        </div>
                    </li>

                    @* Tài khoản/Đăng nhập-Đăng ký *@
                    <li class="dropdown">
                        <div style="position:relative;">
                            <i class="fas fa-user-circle"></i>
                            <a href="#" class="dropdown-toggle" id="account-name">
                                @if (ViewBag.pmmodel.IsLoggedIn)
                                {
                                    <text>Hello, @ViewBag.pmmodel.Username</text>
                                }
                                else
                                {
                                    <text>Tài khoản</text>
                                }
                            </a>
                        </div>
                        <div class="dropdown-content">
                            @if (ViewBag.pmmodel.IsLoggedIn)
                            {
                                <a href="@Url.Action("Profile", "Account")">Thông tin tài khoản</a>
                                <a href="@Url.Action("OrderHistory", "Order")">Lịch sử mua hàng</a>
                                <a href="@Url.Action("Logout", "Account")">Đăng xuất</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Register", "Account")">Đăng ký</a>
                                <a href="@Url.Action("Login", "Account")">Đăng nhập</a>
                            }
                        </div>
                    </li>

                    @* Giỏ hàng *@
                    <li>
                        <a href="@Url.Action("Index", "Cart")">
                            <i class="fas fa-shopping-cart"></i>
                            <span id="cart-count">@ViewBag.pmmodel.CartCount</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    @* Nội dung chính của View sẽ được render ở đây *@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>