@model NgoPhucThinhMystore.Models.Product


<head>
    <style>
        img{
            height:250px;
            max-width:250px;
        }
    </style>
</head>
<div class="container-fluid">


    <dl class="dl-horizontal">
        <div class="col-md-4">
            <img src="@Html.DisplayFor(model => model.ProductImage)" />
        </div>
        <div class="col-md-8">
            <dl>
                <dt>tên Sản Phẩm </dt>

                <dd>@Html.DisplayFor(model => model.ProductName) </dd>

                <dt>Mô tả</dt>

                <dd> @Html.DisplayFor(model => model.ProductDecription) </dd>

                <dt> Đơn Giá</dt>

                <dd> @Html.DisplayFor(model => model.ProductPrice) </dd>


                <dt>Danh Mục</dt>

                <dd>@Html.DisplayFor(model => model.Category.CategoryName) </dd>


            </dl>
        </div>


    </dl>
</div>